.UsersInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-right: 1vh;
}
.userInfo{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    padding: 5vh;
   
}

.userLocationList{
    display: flex;
    flex-direction: row;
    column-gap: 10vh;
    padding: 2vh;
    border: 4px solid rgb(100, 80, 60);
    box-shadow: 2px 2px 0px rgb(80, 60, 40);
}

.userInfoText{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}
.userImg{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.userFollowButton{
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    font-size: 16px;
    background-color: rgb(255, 220, 180); 
    color: black;
    border: 4px solid rgb(100, 80, 60);
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    width: 25vh;
    height: 6vh;
    
    /* Имитация пиксельных краёв */
    image-rendering: pixelated;
    box-shadow: 2px 2px 0px rgb(80, 60, 40);
    transition: all 0.1s linear;
}

.userFollowButton:active {
    box-shadow: 2px 2px 0px rgb(80, 60, 40);
    transform: translate(2px, 2px);
  }
  
.userFollowButton:disabled {
    box-shadow: none;
    transform: none;
    background-color: lightgray;
    border-color: gray;
  }
  
.statustext{
    color: rgb(144, 133, 121);
}

.pagination{
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 2vh;
}


.paginButton{
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    font-size: 10px;
    background-color: rgb(255, 220, 180); 
    color: black;
    border: 4px solid rgb(100, 80, 60);
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    width: 4vh;
    height: 4vh;
    
    /* Имитация пиксельных краёв */
    image-rendering: pixelated;
    box-shadow: 2px 2px 0px rgb(80, 60, 40);
    transition: all 0.1s linear;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.activePage {
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    font-size: 16px;
    background-color: rgb(255, 220, 180); 
    color: black;
    border: 4px solid rgb(100, 80, 60);
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 2px 2px 0px rgb(80, 60, 40);
    transform: translate(2px, 2px);
}
.disabledPage {
    font-family: 'Press Start 2P', cursive; /* Пиксельный шрифт */
    font-size: 10px;
    background-color: rgb(255, 220, 180); 
    color: black;
    border: 4px solid rgb(100, 80, 60);
   
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
    height: 5vh;
}
.loading{
    width: 100%;
    height: 25vh;
}