.sidebarAndMain {
  display: flex;
  flex-direction: row;
  padding-inline: 10vh;
  column-gap: 5vh;
  align-items: flex-start;
  margin-top: 5vh;
}



.main{
  background-color: rgb(226, 219, 219);
  width: 80%;
  min-height: 100vh;
}
